
<!--<div>-->
<!--    &lt;!&ndash; Financial Goal, Budget and Remaining Budget &ndash;&gt;-->
<!--&lt;!&ndash;    <div class="financial-goal">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="financial-goal">Set Financial Goal (in Currency): </label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="financial-goal" placeholder="Enter your goal" onchange="updateGoal()">&ndash;&gt;-->
<!--&lt;!&ndash;        <p id="goal-status">Goal Status: Not Set</p>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <div class="budget">-->
<!--        <label for="budget">Set Monthly Budget: </label>-->
<!--        <input type="number" id="budget" placeholder="Enter your budget" onchange="updateBudget()">-->
<!--        <p id="remaining-budget">Remaining Budget: Not Set</p>-->
<!--    </div>-->
<!--</div>-->
