
<div>
    <!-- Financial Goal, Budget and Remaining Budget -->
<!--    <div class="financial-goal">-->
<!--        <label for="financial-goal">Set Financial Goal (in Currency): </label>-->
<!--        <input type="number" id="financial-goal" placeholder="Enter your goal" onchange="updateGoal()">-->
<!--        <p id="goal-status">Goal Status: Not Set</p>-->
<!--    </div>-->

    <div class="budget">
        <label for="budget">Set Monthly Budget: </label>
        <input type="number" id="budget" placeholder="Enter your budget" onchange="updateBudget()">
        <p id="remaining-budget">Remaining Budget: Not Set</p>
    </div>
</div>
